*{
    background-color: antiquewhite;
    text-align: center;
}
.login{
    outline: 1px solid black;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.username{
    border-radius: 5px;
}
.email{
    border-radius: 5px;
    text-align: left;
}
.password{
    border-radius: 5px;
    text-align: left;
}
.submit{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    margin-left: 180px;
    border: 2px solid black;
    border-radius: 7px;
}
.submit_link{
    text-decoration: none;
    color: black;
}